@import url('../assets/font-awesome-4.7.0/css/font-awesome.css');
.white {
    color: #ffffff;
}
.black {
    color: #000000;
}
#IMPLayoutContainer {
	width: min-content;
	height: min-content;
	-webkit-transition: -webkit-transform 0.33s;
	transition: transform 0.33s; 
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	z-index:100;
}
#IMPLayoutFront{
	height: max-content;
    width: max-content;
}
#IMPLayoutFront img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#IMPLayoutBottom {
	background: rgb(150, 150, 150, 0.5);
	border: 1px solid #ffffff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	height: min-content;
    width: min-content;
    padding: 5px 10px;
    margin-top: -30px;
}
#IMPLayoutBottom span{
	color: #ffffff;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
/* Position the faces */
#IMPLayoutFront {
	-webkit-transform: translateZ(70px);
	transform: translateZ(70px);
}
#IMPLayoutBottom {
	-webkit-transform: rotateX(-90deg) translateZ(-70px);
	transform: rotateX(-90deg) translateZ(-70px);
}
#IMPLayoutContainer:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg); 
}
#IMPbtns i{
    color: white;
    cursor: pointer;
}
#IMPbtns_2{
	display: flex;
}
#IMPbtns_2 i{
	cursor: pointer;
	font-size: 20px;
	padding: 0 3px 0 3px;
}
#playPauseBtn{
    font-size: 50px;
}

