@import url('../assets/font-awesome-4.7.0/css/font-awesome.css');
@import url('../css/index.scss');

#IMPLayoutContainer {
	width: max-content;
	height: max-content;
	-webkit-transition: -webkit-transform 0.33s;
	transition: transform 0.33s; /* Animate the transform properties */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}
#IMPLayoutFront{
	height: max-content;
    width: max-content;
}
#IMPLayoutFront img{
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
#IMPLayoutBottom {
	background: rgb(150, 150, 150, 0.8);
	border: 1px solid rgba(147, 184, 189, 0.8);
	-webkit-border-radius: 5px;
	border-radius: 5px;
    max-width: 300px;
	height: min-content;
    width: max-content;
    padding: 5px 10px;
    margin-top: -30px;
}
/* Position the faces */
#IMPLayoutFront {
	-webkit-transform: translateZ(70px);
	transform: translateZ(70px);
}
#IMPLayoutBottom {
	-webkit-transform: rotateX(-90deg) translateZ(-70px);
	transform: rotateX(-90deg) translateZ(-70px);
}
#IMPLayoutContainer:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(70deg); 
}
#IMPbtns i{
    color: white;
    cursor: pointer;
}
#playPauseBtn{
    font-size: 50px;
}

